* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:beige;
    padding: 40px;
}

.contact-container {
    display: flex;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.contact-info {
    flex: 1;
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.contact-info p {
    margin: 10px 0;
}

.contact-form {
    flex: 2;
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.contact-form form{
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 15px 0 15px;
    font-weight: bold;

}

.contact-form input,
.contact-form text-area {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 16px;
}

.contact-form button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover{
    background-color: aqua;
}

@media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }}