*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    text-align: center;
}

.contact-section {
    padding: 80px 20px;
    background-color: azure;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.form-container h1{
    font-size: 32px;
    color: #0077cc;
    margin-bottom: 10px;
}

.form-container p {
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction:column;
    gap: 20px;
    text-align: left;
}

label {
    font-weight: bold;
    color: #333;
}

input,textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
}

input:focus,
textarea:focus {
    border-color: #0077cc;
    outline: none;
}

button {
    padding: 14px;
    background-color: #0077cc;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: blueviolet;
}