* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    padding: 60px 20px;
}

.features {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}


.features h1 {
    font-size: 32px;
    margin-bottom: 60px;
}

.feature-gris {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;

}

.feature-card {
    background-color: whote;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card img {
    width: 60px;
    margin-bottom: 20px;
}

.feature-card h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color:black;
}

.feature-card p {
    font-size: 15px;
    color: #555;
    line-height: 1.6;
}